# GitHub Repository Configuration
# These values are used to configure Workload Identity Federation and GitHub Actions Variables

repository_owner = "mohitmatte-04"
repository_name  = "Learning_and_development"
